<!DOCTYPE html>
<head>
    <title>Loan Information</title>
</head>
<body>
    <center>
        <h1>Data</h1>
        <hr/>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>bank_name</th>
                <th>card_type</th>
                <th>first_year_fee</th>
                <th>rewards</th>
                <th>joining_perks</th>
            </tr>
            {% for results in data %}
            <tr>
               <td>{{results.ID}}</td>
               <td>{{results.bank_name}}</td>
               <td>{{results.card_type}}</td>
               <td>{{results.first_year_fee}}</td>
               <td>{{results.rewards}}</td>
               <td>{{results.joining_perks}}</td>
            </tr>

            {% endfor %}
        </table>
    </center>
</body>